* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    
    color: #7e5109;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #C7F6F9;
  }
   
header {
    padding: 20px 35px;
    background-color: #ffa07a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    
  }
  
  header a {
    text-decoration: none;
  }
  header nav {
    
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: #7e5109;
  }



 




.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 35px;
  margin: 50 px auto;
  width: 80%;
  flex-direction: column;
  
}
.flex-row{
  justify-content: space-between;
  display: flex;
  text-align: center;
}
.section-title {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  
  
 
  
  
}

.avatar-img {
  width: 50%;
  height: auto;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.container p {
  line-height: 1.7;
  width: 80%;
  font-size: 18px;
  
 
  
  
}





.run-buddy img {
  width: 65%;
  height: auto;
  border-radius: 8%;
  border-width: 3px;
  display: flex;
 

}
.horiseon {
  display: flex;
 
}

.horiseon img {
  width: 50%;
  height: auto;
  border-radius: 5%;
  border-width: 3px;
  display: flex;
  margin-top: 10px;
  
  

}


footer {
  background: #ffa07a;
  width: 100%;
  padding: 40px 35px;
  display:flex;
  justify-content: space-between;
 
  
}

footer h2 {
  font-size: 30px;
  margin: 0;
}

footer div {
line-height: 1.5;
text-align: right;
}

footer div  {
  margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
    color: #7e5109;
}
footer a {
  color: #024e76;
  font-weight: lighter;
}



/* @media for media quieres */

@media only screen and (max-width:1000px) {
  .container {
    
    
  }
}